body {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
}

.calculator {
    background-color: black;
    position: fixed;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.calc-display {
    text-align: right;
    color: white;
}

.button {
    background-color: #333333;
    color: white;
    font-size: 50px;
    border: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #4d4d4d;
}

.function {
    background-color: #a6a6a6;
    color: black;
}

.function:hover {
    background-color: #8c8c8c;
}

.operator {
    background-color: #fe9400;
}

.operator:hover {
    background-color: #cc7700;
}

#zero {
    width: 228px;
    height: 100px;
    border-radius: 48px;
}