body {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
}

.calculator {
    background-color: black;
    position: fixed;
}

.calc-display {
    text-align: right;
    color: white;
}

.button {
    background-color: #333333;
    color: white;
    font-size: 50px;
    border: 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.function {
    background-color: #a6a6a6;
    color: black;
}

.operator {
    background-color: #fe9400;
}

#zero {
    width: 226px;
    height: 100px;
    border-radius: 48px;
}